<div class="home">
<h2>Ola seja bem vindo a lista de filmes para voce visualizar seus filmes e series</h2>
<p>Muitas vezes temos grande paixão por varios filmes e series e não conseguimos lembrar de todos.</p>
<p>Esse projeto seria um inicio e uma ideia para salvar alem da nossa memoria</p>
</div>